include:
    # - docker-compose-redis.yml
    - docker-compose-db.yml

name: gauniv
services:
    gauniv.webserver:
        image: ${DOCKER_REGISTRY-}gaunivwebserver   
        build:
            context: .
            dockerfile: Gauniv.WebServer/Dockerfile
        environment:
          - ASPNETCORE_ENVIRONMENT=Development
          - ASPNETCORE_HTTP_PORTS=80
          - ASPNETCORE_URLS=http://+:80
          - ConnectionStrings:DefaultConnection=Server=postgres_primary;Port=5432;Database=db;Username=admin;Password=password
        ports:
          - "38651:80"
        depends_on:
          - postgres_primary
    nginx:
        image: nginx:latest
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - ./certificate:/certificate:ro
        depends_on:
            - gauniv.webserver
        ports:
            - "8080:80"
            - "8443:443"

