@model IPagedList<Gauniv.WebServer.Dtos.UsersDto>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/css/gameList.css" rel="stylesheet" type="text/css" />

<h2>Connected Users</h2>

@if (Model != null && Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        @if (user.IsOnline)
                        {
                            <span class="badge bg-success">Online</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Offline</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination-container">
        @Html.PagedListPager(Model, page => Url.Action("SeeUserList", new { page }))
    </div>
}
else
{
    <p>No connected users.</p>
}

